{{ 'footer.css' | asset_url | stylesheet_tag}}
<div class="footer">
  <div class="left-side">
    <div class="offer-newsletter">
      <div class="offer">
        {{ section.settings.offer_text }}
      </div>
      <div class="subscription-box">
        <div class="email-input">
          <input type="email" placeholder="Enter Your Email Address" />
          <button>→</button>
        </div>
        <div class="checkbox-container">
          <input type="checkbox" id="footer_agreement_checkbox" />
          <label for="footer_agreement_checkbox">
            {{ section.settings.checkbox_text }}
          </label>
        </div>

      </div>
    </div>
    <div class="social-icon-copyright unactive">
      <div class="social-icon">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
      </div>
      <div class="copyright">
        <div class="copyright-icon">{{ section.settings.copyright_icon }}</div>
        <div class="copyright-text">{{ section.settings.copyright_text }}</div>
      </div>

    </div>
  </div>
  <div class="right-side">
    <!-- Column 1 -->
    <div class="footer-column">
      <div class="footer-title">
        {{ linklists[section.settings.footer_menu_1].title }}
      </div>
      {% for link in linklists[section.settings.footer_menu_1].links %}
      <a href="{{ link.url }}" class="footer-link">{{ link.title }}</a>
      {% endfor %}
    </div>

    <!-- Column 2 -->
    <div class="footer-column">
      <div class="footer-title">
        {{ linklists[section.settings.footer_menu_2].title }}
      </div>
      {% for link in linklists[section.settings.footer_menu_2].links %}
      <a href="{{ link.url }}" class="footer-link">{{ link.title }}</a>
      {% endfor %}
    </div>

    <!-- Column 3 -->
    <div class="footer-column">
      <div class="footer-title">
        {{ linklists[section.settings.footer_menu_3].title }}
      </div>
      {% for link in linklists[section.settings.footer_menu_3].links %}
      <a href="{{ link.url }}" class="footer-link">{{ link.title }}</a>
      {% endfor %}
    </div>

  </div>
  <div class="social-icon-copyright active">
    <div class="social-icon">
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
    </div>

    <div class="copyright">
      <div class="copyright-icon">{{ section.settings.copyright_icon }}</div>
      <div class="copyright-text">{{ section.settings.copyright_text }}</div>
    </div>
  </div>

</div>
<div class="chatbox">
  <img src="" alt="" />
</div>
</div>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "offer_text",
      "label": "Offer message",
      "default": "Join our club, get 15% off for your Birthday"
    },
    {
      "type": "text",
      "id": "checkbox_text",
      "label": "Checkbox label text",
      "default": "By submitting your email, you agree to receive advertising emails from Modimal."
    },
    {
      "type": "text",
      "id": "copyright_icon",
      "label": "Copyright icon",
      "default": "©"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text",
      "default": "2023 Modimal. All Rights Reserved."
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "Footer menu 1"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "Footer menu 2"
    },
    {
      "type": "link_list",
      "id": "footer_menu_3",
      "label": "Footer menu 3"
    }
    // your other footer settings go here
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
