{{ 'header.css' | asset_url | stylesheet_tag }}
{%- if settings.special_font -%}




{%- endif -%}

<section class="nav-bar">
  <div class="logoplushamburg">
    <div class="hamplussearch">
      <img class="hamburger-icon" src="{{ 'Headermenuicon.png' | asset_url }}" alt="Headermenuicon">
      <img class="search-icon" src="{{ 'Headersearchicon.png' | asset_url }}" alt="search icon">

    </div>

    <div class="logo visibility">
      <a href="{{ shop.url }}" class="logo-link">
        {% if section.settings.logo_image != blank %}
        <img src="{{ section.settings.logo_image | image_url: width: 184 }}" width="184" height="100"
          alt="{{ shop.name }}" />
        {% else %}
        <div class="shop-name-wrapper">
          <a class="brand-name" id="brand-title">{{ shop.name }}</a>
          <a class="brand-title">{{ section.settings.brand_title }}</a>
        </div>
        {% endif %}
      </a>
    </div>

  </div>
  <div class="logo visibility2">
    <a href="{{ shop.url }}" class="logo-link">
      {% if section.settings.logo_image != blank %}
      <img src="{{ section.settings.logo_image | image_url: width: 184 }}" width="184" height="100"
        alt="{{ shop.name }}" />
      {% else %}
      <div class="shop-name-wrapper">
        <a class="brand-name" id="brand-title">{{ shop.name }}</a>
        <a class="brand-title">{{ section.settings.brand_title }}</a>
      </div>
      {% endif %}
    </a>
  </div>


  <div class="nav-links">
    {% for link in linklists[section.settings.header_menu].links %}
     <a class="links" data-index="{{forloop.index}}" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>

  <div class="header-actions">
    <img class="search-icon2" src="{{ 'Headersearchicon.png' | asset_url }}" alt="search icon">
    <img class="profile-icon" src="{{ 'Headerprofileicon.png' | asset_url }}" alt="profile icon">
    <img class="favourite-icon" src="{{ 'Headerfavoriteicon.png' | asset_url }}" alt="favourite icon">
    <img class="bag-icon" src="{{ 'Headerbagicon.png' | asset_url }}" alt="bag icon">


  </div>
</section>
<nav class="mobile-menu">
  <div class="mobile-menu__header">
    <span class="mobile-menu__logo">{{ shop.name }}</span>
    <button class="close-menu" aria-label="Close Menu">&times;</button>
  </div>
  <ul class="mobile-menu__links">
    {% for link in linklists[section.settings.header_menu].links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    <li><a href="#"><span class="icon">👤</span> Log in</a></li>
  </ul>
</nav>
{% for link in linklists[section.settings.header_menu].links %}



<div class="overlay" data-index="{{forloop.index}}">
  <div class="mega-dropdown">
    {% if link.links != blank %}
    {% for childlink in link.links %}
    <span>
      <a href="{{ childlink.url }}">{{ childlink.title }}</a>
      {% if childlink.links != blank %}
      <ul>
        {% for grandchildlink in childlink.links %}
        <li>
          <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </span>
    {% endfor %}
    {% endif %}
    <div class="collection">
      {% assign collection = collections[section.settings.featured_collection] %}
      {% assign collection2 = collections[section.settings.mega_menu_collection] %}



      <div class="collection1">
        {% if collection.image != blank %}
         <img src="{{ collection.image | image_url: width:290,height:460,crop:'center' }}" alt="{{ collection.title }}">
        {% endif %}

        {% if collection.title != blank %}
         <span class="collection1-title">{{ collection.title }}</span>
        {% endif %}
      </div>

      <div class="collection2">
       {% if collection2.image != blank %} 
        <img src="{{  collection2.image | image_url: width:290,height:460,crop:'center'}}" alt="{{collection2.title}}">
       {% endif %}
       {% if collection.title != blank %}
        <span class="collection2-title">{{collection2.title}}</span>
       {% endif %}

      </div>
    </div>
  </div>
</div>



{% endfor %}






{{ 'header.js' | asset_url |script_tag}}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image",
      "info": "184x100 px"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Select Menu",
      "info": "Add your header menu",
      "default": "main-menu"
    },
    {
      "type": "font_picker",
      "id": "brand_title",
      "label": "Brand title font",
      "default": "work_sans_n7"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Select a Collection",
      "info": "Choose a collection to display mega menu"
    },
    {
      "type":"collection",
      "id":"mega_menu_collection",
      "label":"Mega Menu Collection",
      "info":"Choose a collection to display in mega menu"
    }
  ]
}
{% endschema %}
