{{ 'iamge-banner.css' | asset_url | stylesheet_tag }}

{% style %}
.imageplustext {
  background-image: url({{ section.settings.image | image_url }});
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
}

.content-wrapper {
  position: absolute;
  left: 128px;
  top: 300px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width:780px){
  .content-wrapper {
  position: absolute;
  left: 20px;
  top: 392px;
  

}
}

{% endstyle %}

<div class="image-banner-section">
  <div class="imageplustext">
    <div class="content-wrapper">
      <div class="text-content">
        {% if section.settings.heading != blank %}
          <p class="heading">{{ section.settings.heading }}</p>
        {% endif %}
      </div>

      {% if section.settings.button_text != blank %}
        <a class="Button_text" href="{{ section.settings.button_url }}">
          {{ section.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to Our Store"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "info": "This is the smaller text under the heading",
      "default": "Shop the latest trends"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    }
  ]
}
{% endschema %}

